data/
.venv/
.vscode/
__pycache__/
*.pyc
src/science/stan_files/GEV_non_stationary
!src/science/data

libraries/ANKIALE
libraries/SDFC-python
libraries/zxarray
src/science/stan_files/STAN_GEVMODEL_PRIOR-NORMAL
src/science/stan_files/STAN_GEVMODEL_PRIOR-NORMAL.stan
