dash
dash_mantine_components
dash-leaflet
dash-iconify
plotly==6.1.2
python-dotenv
flask_compress
jinja2
geopandas

celery
redis
gunicorn

toml

./libraries/SDFC-python
./libraries/zxarray
./libraries/ANKIALE
