dash
dash_mantine_components
dash-leaflet
dash-iconify
plotly
python-dotenv
pygam
flask_compress
jinja2
geopandas

celery
redis
gunicorn

./libraries/SDFC-python
./libraries/zxarray
./libraries/ANKIALE
