.carousel-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
}

.carousel-container > .mantine-Carousel-root {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    min-height: 0;
}

.carousel-container .mantine-Carousel-viewport {
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
}

/* Prevent carousel from extending vertically with the amount of slides */
.carousel-container [class*="mantine-Carousel-container"] {
    height: 100% !important;
    position: absolute !important;
}

/* Allow for slide internal scroll bar */
.carousel-container .mantine-Carousel-slide {
    height: 100% !important;
    flex-shrink: 0;
    overflow-y: auto;
}

@-moz-document url-prefix() {
    .carousel-container .mantine-Carousel-slide {
        will-change: transform;
    }
}

/* Slide indicators : Highlight active slide */
.dmc-indicator {
  width: 15px;
  height: 15px;
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.6;
  transition: height 400ms ease, background-color 200ms ease, opacity 200ms ease;

  &[data-active] {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transform: scale(1.2);
    margin-block: 8px;
  }

}

/* Slide controls : Hide inactive controls */
.dmc-control {

  transition: opacity 300ms ease;

  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}


@keyframes double-bounce-up {
  0%, 89% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(-6px);
  }

  92% {
    transform: translateY(0);
  }

  94% {
    transform: translateY(-6px);
  }

  96% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes double-bounce-down {
  0%, 89% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(6px); /* vers le bas */
  }
  92% {
    transform: translateY(0);
  }
  94% {
    transform: translateY(6px);
  }
  96% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}


.mantine-Carousel-control {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.bounce-down {
    animation: double-bounce-down 10s ease-in-out infinite;
}

.bounce-up {
  animation: double-bounce-up 10s ease-in-out infinite;
}