.carousel-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
}

.carousel-container [class*="mantine-Carousel-container"] {
    height: 100% !important;
}

.carousel-container > .mantine-Carousel-root {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
    height: 100%;
}

.carousel-container .mantine-Carousel-viewport {
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
}

@-moz-document url-prefix() {
    .carousel-container .mantine-Carousel-slide {
        will-change: transform;
    }
}

/* Slide indicators : Highlight active slide */
.dmc-indicator {
  width: 4px;
  height: 15px;
  transition: height 250ms ease;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  opacity: 0.6;

  &[data-active] {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    opacity: 1;
    height: 40px;
  }
}

/* Slide controls : Hide inactive controls */
.dmc-control {

  transition: opacity 300ms ease, transform 300ms ease;
  transform: scale(1);

  &[data-inactive] {
    opacity: 0;
    cursor: default;
    transform: scale(0.9);
  }
}


@keyframes double-bounce-up {
  0%, 89% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(-6px);
  }

  92% {
    transform: translateY(0);
  }

  94% {
    transform: translateY(-6px);
  }

  96% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes double-bounce-down {
  0%, 89% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(6px); /* vers le bas */
  }
  92% {
    transform: translateY(0);
  }
  94% {
    transform: translateY(6px);
  }
  96% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}


.mantine-Carousel-control {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.bounce-down {
    animation: double-bounce-down 10s ease-in-out infinite;
}

.bounce-up {
  animation: double-bounce-up 10s ease-in-out infinite;
}