.map-parent-container {
    flex-grow: 1;
    height: auto; /* Hack needed for the container to be able to extend */
}


.map-container {
    height: 100%;
    z-index: 1;
}


#zoom-to-select {
    position: absolute;
    z-index: 1000;
    /* Positionning */
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);

    /* Styling */
    font-weight: 500;
    font-size: large;
    cursor: pointer;
    color: #fff;
    background-color: #063575;
    border-color: #063575;
    border-radius: 2rem;
    padding: .5rem 1rem;
}


/* Invisibilise le drapeau dans le bandeau d'attribution Leaflet*/
.leaflet-attribution-flag {
    display: none !important;
}