.settings-top-bar {
    background-color: #3084a8;
    padding-bottom: 20px;
    padding-top: 5px;
}


#settings-row-title {
    color: white;
    margin: auto;
    padding-bottom: 3px;
    position: relative;
    left: 5px;
}


#inputs-row {
    padding-top: 20px;
    /* justify-content: space-around; */
}


#left-column {
    margin-left: 20px;
    gap: 100px;
    justify-content: flex-start;
}


#right-column {
    display: flex;
    justify-content: center;
    align-items: center;
 }


.selector-with-label {
    gap: 3px;
    align-items: left;
}


.datepicker-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: left;
    width: 300px;
    gap: 3px;
    height: 66.9px;
}


.mantine-DatePickerInput-error {
    position: absolute;
    bottom: -19px;
    left: 3px;
    right: 0;
    text-align: left;
    color: white;
    font-size: 14px;
    font-weight: 300;
}  


.mantine-DatePickerInput-error::before {
    content: "⚠ "; /* Icône d'avertissement */
    color: #ff2d2d; /* Rouge vif */
    font-weight: bold;
    font-size: 18px;
    vertical-align: -1px;
}


.tooltip-markdown {
    padding: 8px 12px;
}


.tooltip-markdown p {
    font-size: 14px;
    margin: 8px 0px;
}

/* Small resolution handling */
@media (max-width: 1536px) {

    #left-column {
        margin-left: 10px;
        gap: 25px;  /* réduire l'espacement entre éléments */
        justify-content: flex-start;  /* au lieu de space-around */
    }

}