In {{ year_then }}, the probability of {{ event_definition }} was {{ pF_then }}, meaning that such conditions are estimated to happen every year and are therefore not considered rare.
This places the selected event outside of the range where our event attribution framework can provide meaningful results.

Consider re-running the analysis for a higher intensity event.