.analysis-container {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex-grow: 1;
    height: 100%;
}

#plot-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    justify-content: center;
    align-items: center;
}

/* ***** DMC Carousel styling ***** */

.carousel-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
}

.carousel-container [class*="mantine-Carousel-container"] {
    height: 100% !important;
}

.carousel-container > .mantine-Carousel-root {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
    height: 100%;
}

.carousel-container .mantine-Carousel-viewport {
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
}

@-moz-document url-prefix() {
    .carousel-container .mantine-Carousel-slide {
        will-change: transform;
    }
}

/* Slide indicators : Highlight active slide */
.dmc-indicator {
  width: 4px;
  height: 15px;
  transition: height 250ms ease;

  &[data-active] {
    height: 40px;
  }
}

/* Slide controls : Hide inactive controls */
.dmc-control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

/* .carousel-container .mantine-Carousel-slide {
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
} */