.analysis-container {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    min-height: 0;
    flex-grow: 1;
}

.chosen-event {
    /* Hauteur naturelle (pas besoin de flex) */
    flex-shrink: 0;
}

.carousel-container {
    flex: 1 1 auto; /* prend tout l'espace restant */
    min-height: 0;  /* important pour le scroll interne */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.carousel-container > .mantine-Carousel-root {
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;;
}

.carousel-container > .mantine-Carousel-slide {
    height: 100%;
    overflow: hidden;
}

#analysis-welcome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}