.header-parent {
    /* background-color: #18a7e4; */
    background-image: linear-gradient(90deg, #effaff 0%, #d9e7ff 100%);
    width: 100%;
}


#page-title {
    text-align: left;
    font-size: 150;
    font-family: fantasy;
    font-style: italic;
    font-weight: 200;
    background: linear-gradient(45deg, #004a9f, #3cff00 80%);
    background-clip: text;
    color: transparent;
    padding: 15px;
    margin: 0;
}


#header-right {
    display: flex;
    justify-content: right;
    align-items: middle;
    height: 100%;
}


#header-buttons {
    position: relative;
    right: 25px;
    gap: 10px;
}