#_pages_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    width: 100%;
}

.site-container > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
}