.settings-top-bar {
    background-color: #3084a8;
    padding-bottom: 20px;
    padding-top: 5px;
}

#settings-row-title {
    color: white;
    /* padding-bottom: 3px; */
}

#inputs-row {
    padding-top: 20px;
    /* justify-content: space-around; */
}

#inputs-row-left {
    justify-content: space-around;
}

.selector-with-label {
    gap: 3px;
    align-items: left;
}

.mantine-Slider-markLabel {
    color: white;
}

#slider-with-label{
    align-items: left;
    gap: 5px;
}